<div class="layout-main-content">
  <h1>About the Tool</h1>
  <hr>
  <p>The dCAREHx tool was created to enable physicians, pharmacists, nurses, patients, care providers, and general consumers to understand the adverse events related from taking a particular mental health drug, and the frequency on which cases were submitted. The dCAREHx tool is specifically designed to help those who are taking or prescribing pharmaceuticals to understand if there are potentially adverse side effects from a particular medication as well as the number of cases reported over a period of time. It is based on official FDA data, and reduces the research time substantially.</p>
<p>dCAREHx is open-source, and is maintained on <a href="https://github.com/forumone/18F-ADSBPA-Pool-2-Dev-">GitHub</a>.</p>
<h2>Data Source</h2>
<p>The data in this tool is pulled directly from the US Food and Drug Administration's (FDA) Adverse Events Reporting System (FAERS). It includes data that came in from both mandatory and voluntary reporting. 
<a href="https://open.fda.gov/data/faers/">Learn more about FAERS.</a></p>
<h2>Limitations of the dCAREHx Tool</h2>
<p>Timeline: Because medications change over time, we are showing data for the last 5 years. In a future phase we may add the ability to select the time period over which adverse events have been measured and reported.</p>
<p>Medical Advice Disclaimer: This tool should not be used as a substitute for medical advice from a physician. If you have questions about the data, the results, or any of the information you find in this too, please contact your physician to discuss the information directly.</p>
<h2>Reporting an Adverse Drug Reaction</h2>
<p>If you have had an adverse reaction to medications, you may visit <a href="http://www.fda.gov/Safety/MedWatch/HowToReport/default.htm">report the information to the US Food and Drug Administration (FDA) online</a>.</p>
<h2>Open Source Tools</h2>
<p>
This tool was built using a suite of Open Source Tools including: 
<ul>
<li>Jenkins</li>
<li>Capistrano</li>
<li>Sails</li>
<li>D3</li>
<li>Angular</li>
<li>Lodash</li>
<li>jQuery</li>
<li>Grunt</li>
<li>SASS</li>
<li>Bower</li>
<li>NPM</li>
</ul></p>
<h1>About Forum One</h1>
<hr>
<p>Forum One is a digital agency that has almost 20 years of experience combining tech savvy, issue sophistication, and design execution to help influential organizations craft solutions for the world’s most pressing problems. Our clients include many of the most influential organizations in the world including:
<ul>
<li>Government agencies (EPA, USDA, USAID, Commerce)</li>
<li>Think tanks (Center for Global Development, Center for Strategic & International Studies, etc.)</li>
<li>Foundations (Gates Foundation, Robert Wood Johnson Foundation, PEW Charitable Trusts, MacArthur Foundation, etc.)</li>
<li>Nonprofits (Save the Children, Red Cross, United Way, etc.)</li>
</ul></p>
<h1>dCAREHx Privacy Policy</h1>
<hr>
<p>We take your privacy extremely seriously. We do not collect any personally identifiable information and will never transfer or sell information to a third-party. By using dCAREHx you permit the collection and use of your personal information as outlined below in our Privacy Policy.</p>
<h2>Information We Collect</h2>
<p>dCAREHx collects information you drugs searched upon via Google Analytics. We use Google Analytics to analyze user behavior. That service we may also collect additional information such as your browser information, IP address, requested URL, referring URL, and timestamp. We have no ability to identify individuals based on the data collected.</p>
<h2>How We Use Your Information</h2>
<p>dCAREHx may use this information to perform statistical analyses of user behavior and characteristics in order to measure interest in and use of the various areas of the site and to inform potential enhancements.</p>
<h2>Transfer of Information</h2>
<p>dCAREHx will disclose information to governmental or judicial authorities or law enforcement agencies, or to other individuals or entities only in response to subpoenas, court orders, or other legal processes. In addition, we may share information in order to investigate, prevent, or take action regarding illegal activities or suspected fraud, or to enforce or apply the terms and conditions of this Privacy Policy.</p>
<h2>Links</h2>
<p>dCAREHx may contain links to third-party websites to which we have no affiliation. We do not share your personal information with those websites and are not responsible for their privacy practices.</p>
<h2>Use of Cookies</h2>
<p>dCAREHx may use cookies to refine our site and simplify our user experience.</p>
<h2>Children</h2>
<p>This website is not directed to children, and the dCAREHx website does not knowingly solicit information from any child under the age of 13.</p>
<h2>Terms and Modifications to this Privacy Statement</h2>
<p>By using the website, you signify your agreement to the terms of our Privacy Policy. If you do not agree with these terms, you should not use the site. dCAREHx may modify this Privacy Policy at any time. You are responsible for reviewing this Privacy Policy periodically to ensure that you are aware of any changes to it. Your continued use of the site indicates your assent to any changes to this Privacy Policy.</p>
<h2>Contacting dCARE</h2>
<p>If you have any questions about this Privacy Policy, the privacy practices of this website, or if you want to exercise any of the rights that you are given under this Privacy Policy, you can contact us via the contact-us page.</p>
</div>
