<div class="layout-main-content">
  <h1>How to Read this Chart</h1>
  <hr>
  <p>An adverse event is any undesirable experience associated with the use of a medical product in a patient. The event is serious and should be reported to FDA when the patient outcome is:</p>
  
  <dl>
    <dt>Death</dt>
    <dd>If the adverse event is suspected in the death of the patient.</dd>
    
    <dt>Life-threatening</dt>
    <dd>If the patient was at substantial risk of dying at the time of the adverse event, or use or continued use of the device or other medical product might have resulted in the death of the patient.</dd>
    
    <dt>Hospitalization (initial or prolonged)</dt>
    <dd>If admission to the hospital or prolongation of hospitalization was a result of the adverse event.
    <br/><br/>
    Emergency room visits that do not result in admission to the hospital are evaluated for one of the other serious outcomes (e.g., life-threatening; required intervention to prevent permanent impairment or damage; other serious medically important event).
    </dd>
    
    <dt>Disability or Permanent Damage</dt>
    <dd>If the adverse event resulted in a substantial disruption of a person's ability to conduct normal life functions, i.e., the adverse event resulted in a significant, persistent or permanent change, impairment, damage or disruption in the patient's body function/structure, physical activities and/or quality of life.</dd>
    
    <dt>Congenital Anomaly/Birth Defect</dt>
    <dd>If it is suspected that exposure to a medical product prior to conception or during pregnancy may have resulted in an adverse outcome in the child.</dd>
    
    <dt>Other Serious (Important Medical Events)</dt>
    <dd>Reported when the event does not fit the other outcomes, but the event may jeopardize the patient and may require medical or surgical intervention (treatment) to prevent one of the other outcomes. Examples include allergic brochospasm (a serious problem with breathing) requiring treatment in an emergency room, serious blood dyscrasias (blood disorders) or seizures/convulsions that do not result in hospitalization. The development of drug dependence or drug abuse would also be examples of important medical events.</dd>
  </dl>
</div>